[submodule "3rd-party/fasd"]
	path = 3rd-party/fasd
	url = https://github.com/clvv/fasd.git
[submodule "3rd-party/malinka"]
	path = 3rd-party/malinka
	url = https://github.com/LefterisJP/malinka.git
[submodule "3rd-party/rtags"]
	path = 3rd-party/rtags
	url = https://github.com/Andersbakken/rtags.git
[submodule "3rd-party/spacemacs"]
	path = 3rd-party/spacemacs
	url = https://github.com/syl20bnr/spacemacs
[submodule "layers/c++-rtags"]
	path = layers/c++-rtags
	url = https://github.com/kzemek/cpp-rtags-layer
[submodule "layers/gtd"]
	path = layers/gtd
	url = https://github.com/moonstruxx/org-gtd.git
[submodule "misc/logview"]
	path = misc/logview
	url = https://github.com/moonstruxx/logview.git
