(setq dotspacemacs-configuration-layers (append dotspacemacs-configuration-layers ((gtd :variables gtd-org-dir "~/Dropbox/gtd"
                                                                                        gtd-refile-target "~/Dropbox/gtd/refile.org"
                                                                                        gtd-diary-target "~/Dropbox/gtd/diary.org"))))
